@page
@model DevDiaries.Web.Pages.Users.IndexModel
@{
}

<div class="bg-secondary bg-opacity-10 py-2 mb-5">
    <div class="container">
        <h1>Users</h1>
    </div>
</div>

<div class="container">

    <div class="mb-3 d-flex justify-content-end">
        <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#addUser">
            Add User
        </button>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var user in Model.Users)
            {
                <tr>
                    <td>@user.Username</td>
                    <td>@user.Email</td>
                    <td>
                        <a class="btn btn-danger user-delete-btn" data-id="@user.Id" data-Username="@user.Username">
                            Delete
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<form method="post" asp-page-handler="delete" id="deleteUserForm">
    <input type="hidden" asp-for="SelectedUserId" id="selectedUserId" />
</form>

<form method="post">
    <!-- Button trigger modal -->
    <!-- Modal -->
    <div class="modal fade" id="addUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add User</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label class="form-label">Username</label>
                        <input type="text" asp-for="AddUserRequest.Username" class="form-control" />
                        <span class="text-danger" asp-validation-for="AddUserRequest.Username" />
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Email</label>
                        <input type="email" asp-for="AddUserRequest.Email" class="form-control" />
                        <span class="text-danger" asp-validation-for="AddUserRequest.Email" />
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Password</label>
                        <input type="password" asp-for="AddUserRequest.Password" class="form-control" />
                        <span class="text-danger" asp-validation-for="AddUserRequest.Password" />
                    </div>

                    <div class="mb-3">
                        <div class="form-check">
                            <input class="form-check-input position-static" type="checkbox" checked="checked" disabled>
                            <label>User Role</label>
                        </div>

                        @if (User.IsInRole("SuperAdmin"))
                        {
                            <div class="form-check">
                                <input class="form-check-input position-static" asp-for="AddUserRequest.AdminCheckbox" type="checkbox">
                                <label>Admin Role</label>
                            </div>
                        }
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</form>


@section Scripts{
    <script>
        const userDeleteElements = document.querySelectorAll('.user-delete-btn');
        const deleteUserForm = document.getElementById('deleteUserForm');
        const selectedUserId = document.getElementById('selectedUserId');

        userDeleteElements.forEach((element) => {
            debugger;
            element.addEventListener('click', function () {

                const userId = element.dataset.id;
                const username = element.dataset.Username;

                selectedUserId.value = userId;
                deleteUserForm.submit();
            });
        });

    </script>
}